<body>
    <hr>
<h1 align="Center">
    <img style="filter: grayscale(100%); height: 45px; opacity: 1; background: transparent;" src="/assets/pclabs.png" >
    <span class="ml-2 text-3xl uppercase font-semibold font-brand tracking-tight">Labs</span>
    </h1>
</body>
<body>
    <b><div class="">PCMag is the leading authority on technology, delivering Labs-based, independent reviews of the latest products and services. Our expert industry analysis and practical solutions help you make better buying decisions and get more from technology.</div></b>
<div class="card">
    <img src="/assets/laptops.png" class="card-size">
    <div>
      <h3 class="card-title">Laptops</h3>
    </div>
    <img src="/assets/phones.png" class="card-size">
    <div>
      <h3>Mobile Phones</h3>
    </div>
    <img src="/assets/tvs.png" class="card-size">
    <div>
      <h3>TVs</h3>
    </div>
    <img src="/assets/audio.png" class="card-size">
    <div>
      <h3>Audio</h3>
    </div>
    <img src="/assets/smarthome.png" class="card-size">
    <div>
      <h3>Smart Home</h3>
    </div>
    <img src="/assets/health.png" class="card-size">
    <div>
      <h3>Health & Fitness</h3>
    </div>
    <img src="/assets/security.png" class="card-size">
    <div>
      <h3>Security</h3>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    <div>
      <h3>All Categories</h3>
    </div>
  </div>
</body>