<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container">
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">
            POKEMON GOES MONSTER HUNTER IN POKEMON LEGENDS: ARCEUS FOR SWITCH
        </a>  
    </li>

    <li class="navbar-nav">
        <a class="nav-link active" href="#">
            GOOGLE ASSISTANT WILL NOW RESPOND TO SIMPLE 'STOP' REQUEST
        </a>  
    </li>

    <li class="navbar-nav">
        <a class="nav-link active" href="#">
            SAMSUNG GALAXY UNPACKED S22 EVENT SET FOR FEBRUARY 9
        </a>  
    </li>

    <li class="navbar-nav">
        <a class="nav-link active" href="#">
            START SAVING FOR A NEW GAMING RIG: CRYSIS 4 IS IN DEVELOPMENT
        </a>  
    </li>

</ul>
</div>
</nav>