<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <img src="assets/PCMag_NavLogo.jpg" alt="20" height="70"> 
    <div class="container-fluid">
        <button type="button" class="btn">#Windows11</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">#BuildSmarterHome</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reviews
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Computers & Electronics</a></li>
                <li><a class="dropdown-item" href="#">Software & Services</a></li>
                <li><a class="dropdown-item" href="#">Business</a></li>
                    <li><a class="dropdown-item" href="#">Editor's Choice</a></li>
                    <li><a class="dropdown-item" href="#">ALL REVIEWS</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Best Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Computers & Electronics</a></li>
              <li><a class="dropdown-item" href="#">Software & Services</a></li>
              <li><a class="dropdown-item" href="#">Business</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              How-To
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Computers & Electronics</a></li>
              <li><a class="dropdown-item" href="#">Software & Services</a></li>
              <li><a class="dropdown-item" href="#">Business</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              News
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">The Why Axis</a></li>
              <li><a class="dropdown-item" href="#">Race to 5G</a></li>
              <li><a class="dropdown-item" href="#">Readers' Choice</a></li>
              <li><a class="dropdown-item" href="#">Deals</a></li>
              <li><a class="dropdown-item" href="#">Opinions</a></li>
              <li><a class="dropdown-item" href="#">Fastest Mobile Networks</a></li>
              <li><a class="dropdown-item" href="#">Fastest ISPs</a></li>
              <li><a class="dropdown-item" href="#">ALL NEWS</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Newsletters</a>
          </li>
        </ul>
          <form >
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Find products, advice, tech news" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">
              <svg class="bi" width="24" height="24" fill="red">
                <use xlink:href="assets/bootstrap-icons.svg#search"/>
              </svg>
              </span>
            </div>
          </form>
      </div>
    </div>
  </nav>
